* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.grid {
	margin: 0 auto;
	width: 400px;
}

.cell {
	line-height: 100px;
	font-size: 55px;
	font-weight: bold;
	height: 100px;
	width: 100px;
	float: left;
	border: solid 1px #FF0000;
	text-align: center;
	background-color:  rgba(238, 228, 218, 0.35);
}

.tile-2 {
	background-color: #EEE4DA;
}

.tile-4 {
	background-color: #EDE0C8;	
}

.tile-8 {
	background-color: #F2B179;
}

.tile-16 {
	background-color: #F59563;
}

.tile-32 {
	background-color: #F67C5F;
}

.tile-64 {
	background-color: #F65E3B;
}

.tile-128 {
	background-color: #EDCF72;
	font-size: 45px;
}

.tile-256 {
	background-color: #EDCC61;
	font-size: 45px;
}

.tile-512 {
	background-color: #EDC850;
	font-size: 45px;
}

.tile-1024 {
	background-color: #EDC53F;
	font-size: 35px;
}

.tile-2048 {
	background-color: #EDC22E;
	font-size: 35px;
}
